
#calendar_container {
    font-family: arial;
    margin:2em;
    width: 250px;
    border: 1px solid #cccccc;
    border-radius: .5em;
    overflow:hidden;
}


#month_year {
    height: 50px;
    width:100%;
    border-bottom: 1px dashed #ccc;
    background-color: #f0f0f0;
    text-transform: capitalize;

}

#month_year div {
    width:200px;
    float:left;
}

#previous, #next {
    padding:.5em;
}

#calendar table {
    margin:auto;
    width: 250px;
}

#previous {
    float:left;
}

#month_year {
    float:left;
}

.today {
    color: #2492ff;
}

.this_month {
    color: #5c5c5c;
}

.not_this_month {
    color: #a2a2a2;
}