
#calendar_container {
    text-align:center;
    font-family: arial;
    margin:2em;
    width: 250px;
    border: 1px solid #cccccc;
    border-radius: .3em;
    overflow:hidden;
}


#calendar_heading {
    height: 50px;
    width:100%;
    /*border-bottom: 1px dashed #ccc;*/
    background-color: #f0f0f0;
    text-transform: capitalize;
}

#month_year {
    width:180px;
    float:left;
}

#previous, #next {
    width:20px;
    padding:0 5px 0 5px;
    cursor: pointer;
    cursor: hand;
}

#month_year, #previous, #next {
    height:50px;
    line-height:50px;
}

#next {
    float:right;
}

#previous {
    float:left;
}

#calendar table {
    margin:auto;
    width: 250px;
}


#calendar thead div {
    color:red;
    border-bottom: 1px solid #ccc;
}

#calendar th {
    width: 14%;
    border: 1px solid #ccc;
    border-left:none;
    border-top:none;
    border-bottom:none;

    font-size: .8em;
}


#calendar th:last-of-type {
    border-right:none;
}



#calendar td {
    font-size: .7em;
    cursor: pointer;
    cursor: hand;
}

#previous {
    float:left;
}

#month_year {
    float:left;
}

.this_month {
    color: #5c5c5c;
}

.today {
    color: #2492ff;
}

.not_this_month {
    color: #a2a2a2;
}