
div {
    height:50px;
    width:50px;
    background: dodgerblue;
}

.box {
    -webkit-transform: translate(0, 0);
    -webkit-transition: -webkit-transform 2000ms ease-in-out;

    transform: translate(0, 0);
    transition: transform 2000ms ease-in-out;
}

.box.move {
    -webkit-transform: translate(100px, 100px);
    transform: translate(100px, 100px);
}

.box .move_back {

}