#calculator {
    border: solid thin #ccc;
    height: 400px;
    width: 300px;
}

#number_block {
    float:left;
    width:100px;
}

.number_row {
    margin: 5px;
}

.operator_row {
    width:20px;
}

.operator_row button {
    /*float:left;*/
}