button {
    width:22px;
    height: 22px;
}
#calculator {
    border: solid thin #ccc;
    height: 400px;
    width: 300px;
}

#number_block {
    float:left;
    width:100px;
}

.number_row {
    margin:5px;
}

.operator_row {
    margin: 5px 5px 5px 0;
    width:20px;
    float:right;
}

#numbers_and_operators {
    width: 130px;
}