/*button {
    width:22px;
    height: 22px;
}*/
body {
    font-family: arial;
    font-weight: bold;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* Reset `button`  */

button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button {
    background-color: #f0f0f0;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25em;
    height: 2.5em;
    line-height: 2.5;
    margin: 0.25em;
    padding: 0 1em;
    width: 1.5em;
}

#buttons {
    margin:auto;

}

#buttons button {
    font-weight: bold;
    /*font-family: verdana;*/
    /*width: 225px;*/
}


.action_row button,
.operator_row button {
    background-color: darkgray;
    color:white;
    height:2.8em;
    border:1px solid rgba(0, 0, 0, 0.2);
}

.action_row button:hover,
.operator_row button:hover {
    background-color: dimgray;
    color:rgba(255,255,255, .5);
}


#calculator {
    margin:3em;
    border: solid 1px #ccc;
    height: 400px;
    width: 400px;
    border-radius: .5em;
    background-color: rgba(0,0,0,0.02)
}

#calculator h3 {
    margin:25px;
    font-family: arial;
    color: darkgray;

}

#screen {
    width:350px;
    height:75px;
    margin:auto;
    border: solid thin #cccccc;
    border-radius: 0.5em;
    background-color: azure;
}

#screen_sum {
    width:100%;
    font-size: 1em;
    color: darkgray;
}

#screen_sum span {
    padding:10px 15px 0 5px;
    height:1em;
    line-height: 1em;
    float: right;
}

#screen_answer {
    width:100%;
}

#screen_answer span {
    clear:both;
    float: right;
    font-size: 1.5em;
    line-height: 1.5em;
    padding:5px 15px 0 5px;
}

#number_block {
    float:left;
    width:215px;
    margin-left:20px;
}

#number_block button {
    border: 1px solid rgba(0,0,0,0.15);
}
#number_block button:hover {
    background-color: silver;
}

button#action_equals {
    color: white;
    background-color: cornflowerblue;
}

button#action_equals:hover {
    color: white;
    background-color: lightskyblue;
}

.number_row {
    margin:5px 0 5px 5px;
}

.operator_row {
    width:65px;
    height:350px;
    float:right;
    margin: 5px 5px 5px 0;
}

.action_row {
    width:65px;
    height:350px;
    float:right;
    margin: 5px 20px 5px 0;
}
